* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* ******************** */
/* TITLE SECTION */
/* ******************** */

.navbar {
  padding: 1.2rem;
  background-color: #fdfaf6;
  font-size: 1.8rem;
}

.download-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.4rem;
  margin-right: 4.8rem;
}

.download-button {
  font-size: 1.8rem;
}

.netflix-brand {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  margin-right: 2.4rem;
}

.authenticate-buttons {
  display: flex;
  gap: 2.4rem;
}

.authenticate-btn {
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
}

.authenticate-btn:last-child {
  margin-top: 1.2rem;
}

.authenticate-btn:hover {
  color: #000;
  background-color: #fff;
}
/* ******************** */
/* SEARCH */
/* ******************** */

.title-search {
  position: relative;
}

.search {
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./../images/netflix.jpg");
  min-height: 70rem;
  width: 100%;
}

/* ******************** */
/* QUICK-SEARCH */
/* ******************** */

.quickSearch {
  color: #fff;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 50%;
}

.quickSearch h1 {
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: 5%;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.home-newsletter .single h3 {
  font-size: 22px;
  color: white;
  /* text-transform: uppercase; */
  margin-bottom: 1.6rem;
}
.home-newsletter .single .form-control {
  height: 50px;
  width: 20%;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}
.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}
.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #e50914;
  color: #fff;
}

@media (max-width: 996px) {
  .email-form-des {
    margin: auto 0;
    text-align: center;
  }

  .quickSearch h1 {
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 5%;
  }

  .home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px;
  }
}

/* *********************** */
/* STREAMING SECTION */
/* *********************** */

#streaming,
#download,
#everywhere,
#children,
#faq {
  background-color: #000000;
  border-bottom: 5px solid #222;
  min-height: 45rem;
  width: 100%;
}

.heading-text {
  color: #fff;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.4rem;
}

.heading-text h2 {
  font-size: 4.4rem;
}

.heading-text p {
  font-size: 2.2rem;
}

.stream-img-div,
.download-img-div,
.everywhere-img-div,
.children-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.2rem;
}

.stream-image {
  width: 70%;
}
/* *********************** */
/* DOWNLOAD SECTION */
/* *********************** */

.download-image {
  width: 70%;
}

/* *********************** */
/* EVERYWHERE SECTION */
/* *********************** */
.everywhere-image {
  width: 60%;
}

/* *********************** */
/* CHILDREN SECTION */
/* *********************** */

.children-image {
  width: 60%;
}

/* *********************** */
/* FAQ SECTION */
/* *********************** */

#faq {
  text-align: center;
  padding: 6.4rem;
}

#faq h1 {
  color: #fff;
  font-size: 3.2rem;
  margin-bottom: 4.8rem;
}

.accordion {
  padding: 0 20%;
  font-family: "Montserrat", sans-serif;
}

.accordion-button {
  background-color: #303030;
  color: #fff;
  font-size: 2.2rem;
}

.accordion-body {
  font-size: 1.8rem;
  overflow: scroll;
}

.get-started {
  color: #fff;
  margin-top: 6.4rem;
}

/* *********************** */
/* FOOTER*/
/* *********************** */

#footer {
  min-height: 30rem;
  width: 100%;
  padding: 8rem;
  font-size: 1.8rem;
}

.copyright {
  margin-top: 50px;
}
